{% extends 'base.html' %}

{% block title %} Tất cả sản phẩm {% endblock %}

{% block content %}
<div class="container">
    <h3>Tất cả sản phẩm</h3>
    <hr>
    {% for cat in allcategories %}
    <h4>{{cat.title}}</h4>
    <hr>
    <div class="row">
        {% for p in cat.product_set.all %}
        <div class="col-md-3">
            <div class="m-4">
                <h4><a href="{% url 'ecomapp:productdetail' p.slug %}">{{p.title}}</a></h4>
                <img src="{{p.image.url}}" alt="" class="img-fluid" style="height: 2500; object-fit: cover;">
                <p class="mt-3">Giá: <strike>Cũ. {{p.marked_price}}</strike> Mới. {{p.selling_price}}</p>
                <a href="{% url 'ecomapp:addtocart' p.id %}" class="btn btn-primary">Thêm vào giỏ</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}