{% extends 'base.html' %}

{% block title %}Khách hàng đăng nhập{% endblock %}

{% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Đăng nhập</h3>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Đăng nhập</button>
                {% if error %}
                <li style="color: red;">{{error}}</li>
                {% endif %}
            </form>
            <p>Quên mật khẩu?<a href="{% url 'ecomapp:passworforgot' %}">Lấy lại mật khẩu.</a></p>
            <p> Bạn không có tài khoản? <a
                    href="{% url 'ecomapp:customerregistration' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Đăng
                    kí</a></p>
        </div>
    </div>
</div>
{% endblock %}